<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[nBank] Historia przelewów</title>
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div th:insert="~{layout/navigation-auth :: header}"></div>
    <div class="content mt-3">
        <h1 class="mb-2">Historia przelewów</h1>
        <div th:if="${!payments.iterator().hasNext()}">
            <p class="alert alert-info mb-2">Brak przelewów do wyświetlenia!</p>
        </div>

        <a class="btn btn-primary mb-2" href="#" th:href="@{/payments/new}">Wykonaj przelew</a>

        <div th:if="${payments.iterator().hasNext()}">
            <table class="table table-striped table-hover align-middle">
                <thead>
                <tr>
                    <th scope="col">Data przelewu</th>
                    <th scope="col">Tytuł przelewu</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Kwota [zł]</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment: ${payments}">
                    <td th:text="${payment.sentAt}"></td>
                    <td th:text="${payment.title}"></td>
                    <td th:text="${payment.amount > 0 ? 'Przychodzący' : 'Wychodzący'}"></td>
                    <td th:text="${payment.amount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>