<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[nBank] Zmień hasło</title>
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:insert="~{layout/navigation-noauth :: header}"></div>
    <div class="content mt-3">
        <h1 class="mb-2">Zmień hasło...</h1>
        <p class="alert alert-danger" th:if="${message != null}" th:text="${message}"></p>
        <div class="pre-send" th:if="${success == null}">
            <p>Wprowadź nowe hasło. Hasło powinno mieć 16 znaków i składać się z małych, dużych liter, spacji, cyfr i
                wybranych znaków specjalnych: @!$%</p>
            <form method="post" action="#" th:action="@{/auth/change-password}" th:object="${data}">
                <input type="hidden" th:field="*{token}" th:value="*{token}"/>
                <div class="mb-3">
                    <label class="form-label" for="password">Hasło</label>
                    <input pattern="[a-zA-Z0-9@!%$ ]{16}" required minlength="16" maxlength="16" type="password"
                           id="password" th:field="*{password}" placeholder="Nowe hasło"
                           class="form-control form-control-lg col-3">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirmPassword">Potwierdź hasło</label>
                    <input pattern="[a-zA-Z0-9@!%$ ]{16}" required minlength="16" maxlength="16" type="password"
                           id="confirmPassword" th:field="*{confirmPassword}" placeholder="Potwierdź nowe hasło"
                           class="form-control form-control-lg col-3">
                </div>
                <button type="submit" class="btn btn-primary">Zmień hasło</button>
            </form>
        </div>
        <div class="post-send" th:if="${success != null}">
            <p class="alert alert-info">Hasło zostało zmienione!</p>

            <a class="mt-2" href="#" th:href="@{/auth/login}">Powrót do strony logowania</a>
        </div>
    </div>
</div>
</body>
</html>