<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[nBank] Zresetuj hasło</title>
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div th:insert="~{layout/navigation-noauth :: header}"></div>
    <div class="content mt-3">
        <h1 class="mb-2">Zresetuj hasło...</h1>
        <div class="pre-send" th:if="${wasSent == null}">
            <p>Wprowadź adres e-mail skojarzony z kontem, a wyślemy na niego instrukcje, jak zresetować hasło.</p>
            <form method="post" th:action="@{/auth/forget-password}">
                <div class="mb-3">
                    <label class="form-label" for="email">Adres e-mail</label>
                    <input required type="email" id="email" th:value="${email}" placeholder="Adres e-mail" class="form-control form-control-lg col-3">
                </div>
                <button type="submit" class="btn btn-primary">Zresetuj hasło</button>
            </form>
        </div>
        <div class="post-send" th:if="${wasSent != null}">
            <p class="alert alert-info">Wiadomość e-mail została wysłana!</p>

            <a class="mt-2" href="#" th:href="@{/auth/login}">Powrót do strony logowania</a>
        </div>
    </div>
</div>
</body>
</html>